.subscribe__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 25px;
  color: $black;
  position: relative;

  @include largeTablet() {
    padding: 80px;
  }

  @include desktop() {
    padding: 100px;
  }
}

.subscribe__content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  img {
    margin-top: 8px;
  }

  @include desktop() {
    gap: 25px;

    img {
      margin-top: 30px;
    }
  }
}

.subscribe__description {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.92px;
  font-weight: $weightLight;

  @include desktop() {
    font-size: 20px;
  }
}

.subscribe__title {
  font-size: $font-sm;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  text-align: center;

  @include largeTablet {
    font-size: $font-md;
  }

  @include smallDesktop {
    font-size: 42px;
  }

  @include desktop {
    font-size: $font-lg;
  }
}

.subscribe__yellow__decor {
  position: absolute;
  top: -5%;
  left: 8%;

  @include largeTablet() {
    top: -8%;
    left: 10%;
  }
}

.subscribe__dotted__decor {
  position: absolute;
  top: -8%;
  left: 12%;

  @include largeTablet() {
    top: -12%;
  }
}

.subscribe__x__decor {
  display: none;
  position: absolute;
  bottom: 5%;
  right: 10%;
  opacity: 0.5;

  @include tablet() {
    display: block;
  }

  @include largeTablet() {
    top: 20%;
  }
}

.subscribe__shape__decor {
  display: none;
  position: absolute;
  bottom: 3%;
  left: 4%;
  opacity: 0.5;
  transform: rotate(10deg);

  @include tablet() {
    display: block;
  }

  @include largeTablet() {
    bottom: 20%;
  }
}

.subscribe__box__decor {
  position: absolute;
  top: 10%;
  right: 0%;

  @include largeTablet() {
    right: 5%;
    top: 60%;
  }
}
