$nav-links: home, about us, services, our goal, contact us;

.navigation__wrapper {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 100;
  width: 100%;
  left: 100%;
  height: 100vh;
  transition: 0.3s linear;
  border-bottom: 1px solid #dbdbdb;
  background-color: $white;

  @include largeTablet() {
    transform: translateX(0);
    height: 100px;
    left: 0;
    background-color: transparent;
  }

  img {
    transition: 0.3s linear;
  }
}

.navigation__wrapper__sticky {
  background-color: rgba(255, 255, 255, 0.9);
  height: 80px;

  img {
    transform: scale(0.8);
  }
}

.navigation__wrapper__active {
  transform: translateX(-100%);

  @include largeTablet() {
    transform: translateX(0);
  }
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
  color: $black;

  @include largeTablet() {
    height: auto;
  }

  & > div {
    display: none;
    max-width: 200px;
    max-height: 100px;
    margin: 0 auto;

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > a > img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  @include tablet() {
    & > div {
      display: inline-flex;
    }
  }

  @include largeTablet() {
    flex-wrap: nowrap;
    width: 95%;

    & > div {
      margin: 0;
    }
  }
}

.navigation__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0px;

  & > li {
    width: 100%;
    text-align: center;
    margin: 15px 0;
    padding: 15px 0px;
    cursor: pointer;
    transform: translateX(100%);
    transition: 0.2s all linear;

    &:hover,
    :focus {
      color: $secondary-purple;
      transform: translateY(-5px);
      text-shadow: 0px 0px 1px;
    }

    &:last-of-type {
      a {
        width: auto;
        padding: 10px 15px;
        font-weight: 400;
      }
    }
  }

  @include mobile() {
    li {
      padding: 5px;
      margin: 12px 0px;
    }
  }

  @include largeTablet() {
    flex-direction: row;
    width: 60%;
    height: 100%;
    justify-content: flex-end;

    li {
      transform: translateX(0%);
      padding: 0px;
      margin: 0px 20px;
      width: fit-content;
      text-align: center;
    }
  }
}

.active__mobile__menu {
  @for $i from 1 through length($nav-links) {
    li {
      &:nth-child(#{$i}) {
        transform: translateX(0%);
        transition-delay: ($i - 1)/10 + s;
      }
    }
  }
}

.hamburger__wrapper {
  width: 100%;
  z-index: 101;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: $white;
  padding: 15px;
  transition: 0.3s linear;

  @include largeTablet() {
    display: none;
  }
}

.hamburger__wrapper__sticky {
  background-color: rgba(255, 255, 255, 0.9);
}

.hamburger__wrapper__transparent {
  background-color: transparent;
}

.hamburger {
  top: 10px;
  right: 10px;
  z-index: 102;
  padding: 3px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  transition: 0.3s 0.1s ease-in-out;
  &:hover,
  &:focus {
    outline: 1px solid $secondary-purple;
  }
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: $secondary-purple;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;

  &:before {
    content: '';
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
    width: 100%;
    height: 3px;
    background-color: $secondary-purple;
    position: absolute;
  }

  &:after {
    content: '';
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
    width: 100%;
    height: 3px;
    background-color: $secondary-purple;
    position: absolute;
  }

  &:before {
    top: -10px;
  }

  &:after {
    top: 10px;
  }
}

.hamburger__active {
  background-color: transparent;

  &:after {
    transform: translateY(-10px) rotate(-45deg);
  }

  &:before {
    transform: translateY(10px) rotate(45deg);
  }
}

.body__overflow__hidden {
  overflow: hidden;

  @include largeTablet() {
    overflow-y: scroll;
  }
}
