.btn {
  background: rgb(99, 98, 215);
  background: linear-gradient(
    90deg,
    rgba(255, 143, 226, 1) 0%,
    rgba(99, 98, 215, 1) 100%
  );
  padding: 16px 40px;
  border-radius: 30px;
  border: none;
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
