// Colors
$primary-blue: #6362d7;
$primary-pink: #ff8fe2;
$secondary-blue: #302a5d;
$secondary-purple: #7351ef;
$lightGray: #9a9b9d;
$gray: #8c8e95;
$black: #000000;
$white: #fff;

$box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.16);
$primary-gradient: linear-gradient($primary-blue 0%, $primary-pink 100%);

$weightSemibold: 600;
$weightLight: 300;

// Fonts sizes
$font-xs: 18px;
$font-sm: 22px;
$font-md: 32px;
$font-lg: 50px;
$font-xlg: 74px;
