.post__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 15px;
  color: $black;
  position: relative;

  @include mobile() {
    padding: 50px 25px;
  }

  @include tablet() {
    padding: 100px;
    padding-top: 120px;
  }
}
