.subscribe__form {
  display: flex;
  max-width: 850px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;

  @include largeTablet() {
    gap: 40px;
    flex-direction: row;
  }
}

.subscribe__form__btn {
  background: transparent;
  border-radius: 30px;
  border: solid 2px $secondary-purple;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 30px;
  cursor: pointer;

  font-size: 15px;

  @include largeTablet() {
    padding: 17px 48px;
  }

  &:hover {
    @include buttonGradientAnimation();
  }
}

.subscribe__form__validationError {
  font-size: 14px;
  color: $brightRed;
  padding: 4px 0px;
  height: 20px;
}

.subscribe__form__label__custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;

  @include largeTablet() {
    margin-top: 40px !important;
    width: 100%;
  }

  div {
    width: 100%;
  }
}

.subscribe__form__customInputRoot {
  padding-left: 2px;
}

.subscribe__form__customInputRoot__dark {
  color: $white !important;

  &:before {
    border-bottom: 1px solid rgba($white, 0.7) !important;
  }
}

.subscribe__form__customInput {
  &::placeholder {
    color: rgba($black, 0.5) !important;
    opacity: 1 !important;
  }
}

.subscribe__form__customInput__dark {
  &::placeholder {
    color: rgba($white, 0.5) !important;
    opacity: 1 !important;
  }
}

.dark__theme__color {
  color: $white;
}
