.card__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 360px;
  min-height: 208px;
  padding: 14px;
  border-radius: 10px;
  background: #2b2353;
  gap: 10px;

  @include largeTablet() {
    padding: 30px;
  }

  &:hover {
    @include cardGradientAnimation();

    & > .card__image {
      position: absolute;
      opacity: 0;
      transform: scaleY(0);
      top: -40px;
      visibility: hidden;
    }

    & > .card__link {
        opacity: 1;
        visibility: visible;
        align-items: flex-end;
    }
  }
}

.card__image {
    opacity: 1;
    transition: 0.3s linear;
    transform: scaleY(1);
}

.card__title {
  font-family: 'Poppins', 'sans-serif';
  line-height: 1.32;
  font-size: 20px;

  @include largeTablet() {
    font-size: 22px;
  }
}

.card__description {
  font-size: 14px;
  line-height: 1.63;
  margin-bottom: 15px;

  @include largeTablet() {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.card__link {
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 140px;
    font-weight: $weightSemibold;
    font-size: 15px;
    transition: 0.4s linear;
}