.services {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $secondary-blue;
  padding: 15px 25px;
  padding-bottom: 40px;
  color: $white;

  @include largeTablet() {
    padding: 100px;
  }

  @include desktop() {
    padding: 140px;
  }
}

.services__wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include desktop() {
    flex-direction: row;
  }
}

.services__titles--wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: stretch;
  align-items: center;
  max-width: 600px;
  text-align: center;

  @include desktop() {
    align-items: stretch;
    max-width: 372px;
    text-align: left;
  }
}

.services__subtitle--wrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  @include largeTablet() {
    gap: 35px;
  }
}

.services__subtitle {
  font-size: 16px;
  font-weight: $weightLight;
  text-transform: uppercase;
  letter-spacing: 1.9px;

  @include largeTablet() {
    font-size: $font-xs;
  }
}

.services__title {
  font-size: $font-md;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;

  @include largeTablet() {
    font-size: $font-lg;
  }
}

.link {
  display: flex;
  align-items: center;
  width: fit-content;
  color: $white;
  background: transparent;
  padding: 10px 15px 10px 20px;
  margin-top: 20px;
  outline: none;
  border-radius: 30px;

  @include largeTablet() {
    padding: 17px 25px 17px 44px;
    margin-top: 40px;
  }

  &:hover {
    @include buttonGradientAnimation();
  }
}

.link--arrow {
  padding-left: 33px;
}
